# Virtual environment
.venv/
venv/
env/

# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Logs
*.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl